/* Layout card horizontal */
.teacher-card,
.list-group-flush .list-group-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 12px;
  background: rgba(244, 197, 215, 0.7);
}

.table-responsive h3 {
  font-weight: bold;
  color: #c2185b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* .teacher-card .list-group-item {
  color: #800000;
  border-color: rgba(255, 255, 255, 0.2); 
}

.teacher-card h3 {
  color: #800000;
  font-weight: bold;
}

.teacher-photo h5 {
  color: #800000;
} */

.teacher-info{
  flex: 2;
}

.teacher-photo {
  flex: 1;
}

.teacher-photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #f0f0f0;
}

.table td:nth-child(3) a {
  color: #800000; 
  text-decoration: underline;
  font-weight: 500;
}

.table td:nth-child(3) a:hover {
  color: #b30059;
  text-decoration: underline;
}
